[Unit]
Description = artifactory Service

[Service]
User=artifact
WorkingDirectory=/opt/artifactory/artifactory-oss-7.71.17/app/bin
ExecStart=/opt/artifactory/artifactory-oss-7.71.17/app/bin/installService.sh restart
SyslogIdentifier=artifactory
Type=forking

[Install]
WantedBy=multi-user.target